:root {
  --branding-color: #6c63ff;
  --secondary-color: #e5d5ec;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-family: "Changa One", cursive;
}
h2 {
  font-size: 64px;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h3 {
  font-size: 48px;
}
p {
  font-weight: normal;

  font-size: 15px;
  line-height: 30px;
}
.content p {
  display: block;
  font-size: 13px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.content-container {
  padding: 100px 20px;
}
.content {
  margin: 28px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content p {
  font-size: 14px;
}
.content-container p {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.logo {
  max-width: 70px;
  max-height: 80;
  padding: 0;
}

.active {
  color: var(--branding-color) !important;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-primary {
  background-color: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 16px;
}
.btn-outline-primary {
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}
.navbar {
  background-color: #f6fafa !important;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.project-description {
  padding: 100px 40px;
}
.hand {
  font-size: xx-large;

  padding: 160px 90px;
}
@keyframes transform-image {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.hand:hover {
  animation-name: transform-image;
  animation-duration: 0.9s;
  animation-iteration-count: 2;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
  font-size: 35px;
  line-height: 1.5;
}
h2 {
  font-size: 38px;
}
.content {
  text-align: center;
  padding: 0;
}

.contact h1 {
  font-size: 15px;
}

.content h2 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.hero {
  padding: 80px 20px;
}
.project-description {
  padding: 0;
  text-align: center;
}
}